html, body {
    margin: 0;
    height: 100%;
    background-color: #000000;
}

p, h1, h2, h3 {
    user-select: none;
}

.info-display {
    font-family: Segoe UI;
    font-weight: 300;
    font-size: medium;
    text-align: center;
    color: #ffffff;
}

.network-list {
    width: 100%;
    background-color: #000000;
    display: block;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.network-list-item {
    width: 100%;
    background-color: inherit;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

.network-list-item:hover {
    background-color: #1a1a1a;
}

.network-ssid-label {
    font-family: Segoe UI;
    font-weight: 300;
    font-size: medium;
    text-align: left;
    margin-left: 4px;
    color: #ffffff;
}

.network-security-label {
    font-family: Segoe UI;
    font-weight: 200;
    font-size: small;
    text-align: left;
    color: #cccccc;
}

.network-signal-icon {
    float: left;
    margin-left: 8px;
}

.selected-network-dialog {
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

.network-authentication-dialog {
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

.selected-network-dialog-button {
    font-family: Segoe UI;
    font-weight: 300;
    font-size: medium;
    color: #ffffff;
    background-color: #333333;
    border: 1px;
    margin-left: 50%;
    height: 32px;
    width: 40%;
}

.selected-network-dialog-button:focus {
    color: #ffffff;
    background-color: #333333;
    outline: none !important;
}

.selected-network-dialog-button.noselect {
    user-select: none;
}

.selected-network-dialog-button:hover {
    background-color: #262626;
}

.network-auth-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollable-element {
    scrollbar-color: dark;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background: #333333;
}

.dialog-nav-button {
    font-family: Segoe UI;
    font-weight: 300;
    font-size: medium;
    color: #ffffff;
    background-color: #333333;
    border: 1px;
    height: 32px;
    width: 49%;
    margin-left: 1px;
    margin-right: 1px;
    display: table-cell;
}

.dialog-nav-button:focus {
    color: #ffffff;
    background-color: #333333;
    outline: none !important;
}

.dialog-nav-button.noselect {
    user-select: none;
}

.dialog-nav-button:hover {
    background-color: #262626;
}

.label-input {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: Segoe UI;
    font-size: small;
    font-weight: 200;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 5%;
}

.dialog-nav-row {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: table;
}
